#start-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#start-header {
    height: 5em;
    background-color: rgb(40,71,167);
}

#start-body-up-line {
    height: 1px;
    background: radial-gradient(at 0 2%, white 1%, rgb(93, 120, 226) 99%);
}

#start-body {
    display: flex;
    flex-direction: row;
    #start-body-left {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        font-size: xx-large;
        color: white;
        background: linear-gradient(-20deg, rgb(93, 120, 226) 80%, white );
    }
    #start-body-middle-line {
        width: 1px;
        background: radial-gradient(at 0 50%, rgb(202, 206, 226) 0, rgb(93, 120, 226) 100%);
    }
    #start-body-right {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(93, 120, 226);
    }
    #windows-logo {
        height: 5em;
    }
    
    flex: 1;
}

#start-body-bottom-line {
    height: 2px;
    background: radial-gradient(at 0 30%, orange 1%, rgb(93, 120, 226) 99%);
}

#start-footer {
    height: 5em;
    background-color: rgb(40, 71, 167);
    #difficulty_selector{
        label {
            cursor: pointer;
            margin: 10px;
            color: white;
            font-weight: 400;
            font-size: 1.3em;
            font-family: Lucida Console;
            display: inline-flex;
            align-items: center;
            gap: 8px;
        }

        input[type=radio]{
            appearance: none;
            -webkit-appearance: none;
            width: 1.4em;
            height: 1.4em;
            border: 2px solid white;
            border-radius: 50%;
            background-color: white;
            margin-right: 0.2em;
            position: relative;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
        }

        input[type="radio"]:checked::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0.7em;
            height: 0.7em;
            border-radius: 50%;
        }

        input[id=easy]:checked::before{
            background-color: rgb(6, 248, 58);
        }
        input[id=normal]:checked::before{
            background-color: rgb(40, 71, 167);
        }
        input[id=hard]:checked::before{
            background-color: rgb(248, 6, 6);
        }

    }
}