.popup-window {
    position: absolute;
    width: 250px;
    height: 180px;
    background-color: rgb(212, 241, 251);
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.popup-window>header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(83, 83, 255);
}
.popup-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.popup-handle-button {
    font-size: 17px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blue;
    border: 1px solid white;
    user-select: none;
}

.popup-close-button {
    background-color: red;
}
