#game-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#game-window {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/古いwindowsの背景.jpeg);
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
